<div class="coins">
  <div class="coins__wrapper">
    <h1 class="coins__title">Bitcoin Rate</h1>

    <div class="coins__container">
      <div class="coins__date" *ngIf="loaded && currencies.length > 0">
        Updated at: {{ lastUpdate }}
      </div>
      <div class="coins__actions">
        <button class="coins__btn coins__btn--refresh" (click)="refresh()">
          Refresh
        </button>
        <button class="coins__btn coins__btn--clear" (click)="clear()">
          Clear
        </button>
      </div>
    </div>

    <div
      class="coins__list"
      *ngIf="loaded && currencies.length > 0; else emptyListMsg"
    >
      <div class="coins__item" *ngFor="let currency of currencies">
        <span>{{ currency.rate }} {{ currency.code }}</span>
      </div>
    </div>
    <ng-template #emptyListMsg>
      <p class="coins__msg">Please refresh to get data!</p>
    </ng-template>

    <div class="coins__image-container" *ngIf="!loading">
      <img
        src="https://www.test.de/file/image/c4/86/8f0a91eb-d6eb-4436-87fe-e211faec6664-web/5773970_digitale-waehrung-bitcoin-5204320-0.jpg"
        class="coins__image"
      />
    </div>
  </div>
</div>

<div class="spinner" *ngIf="loading">
  <div class="spinner__circle"></div>
</div>
